.App {
  height: 100vh;

  .header {
    height: 80px;
    background: #495D63;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #ffffff;
      font-weight: bold;
      font-size: 24px;
    }
  }
}
