.detailed-stats {
  width: 400px;
  position: absolute;
  right: 80px;
  bottom: 140px;
  z-index: 999;
  background: #ffffff;
  border: 3px solid #495D63;
  padding: 40px;
  color: #495D63;

  @media screen and (max-width: 768px) {
    position: static;
    width: 100%;
    height: 349px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none;
    padding: 30px;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    img {
      height: 50px;
      margin-right: 15px;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    &-close {
      position: absolute;
      top: -38px;
      right: -34px;
      padding: 5px;
      color: #495D63;
      font-size: 20px;
      cursor: pointer;
      background: none;
      border: none;

      @media screen and (max-width: 768px) {
        top: -30px;
        right: -26px;
      }
    }
  }

  &-content {
    display: flex;
    margin-bottom: 40px;
    gap: 50px;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }

    & > div {
      width: 40%;

      h3 {
        margin-bottom: 10px;
      }
    }
  }

  &-item {
    position: relative;
    margin-bottom: 20px;

    span {
      position: absolute;
      top: calc(100% - 5px);
      left: 0;
      font-size: 11px;
    }
  }

  &-updated {
    font-size: 14px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}